@media(max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .films__cards {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }

    .films__card {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
}

@media(max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .collections__cards {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }

    .collections__item {
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
    }

    .header__banner {
        height: 80vh;
    }

    .series__cards {
        grid-template-rows: repeat(6, 190px);
    }

    .series__item:nth-child(2) {
        grid-column-end: -1;
        grid-row-end: 5;
    }

    .series__item:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .series__item:nth-child(4) {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .series__item:nth-child(5) {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .series__item:nth-child(6) {
        grid-column-start: 3;
        grid-column-end: 5;
    }
}

@media(max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .menu {
        display: flex;
        cursor: pointer;
    }

    .header__list {
        flex-direction: column;
        position: fixed;
        top: 90px;
        left: -200px;
        width: 200px;
        align-items: center;        
        background: #000;
        transition: 0.5s linear;
        z-index: 999;
    }

    .menu:focus~.header__list {
        left: 0;
    }

    .header__nav {
        position: relative;
        padding: 20px 0;
        z-index: 2;
    }
    
    .header__banner {
        height: 80vh;
        z-index: 1;
    }

    .header__desc {
        text-align: center;
    }

    .header__title {
        font-size: 50px;
        line-height: 55px;
        text-align: center;
    }

    .header__btns {
        justify-content: center;
    }

    .series__cards {
        grid-template-rows: repeat(2, minmax(190px, auto)) repeat(4, 190px);
    }

    .series__cards {
        grid-template-rows: repeat(7, 190px);
    }

    .series__item:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .series__item:nth-child(4) {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .series__item:nth-child(5) {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .series__item:nth-child(6) {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .footer .container {
        flex-direction: column;
        row-gap: 25px;
    }
}

@media(max-width: 576px) {
    .container {
        max-width: 100%;
    }

    .header__banner {
        height: 80vh;
    }

    .films__cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .films .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .films__card-desc {
        text-align: center;
    }

    .premier .container {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .premier {
        padding-bottom: 50px;
    }

    .premier__logo {
        max-width: 445px;
        width: 100%;
    }

    .premier__desc {
        text-align: center;
    }

    .collections__item {
        max-width: 350px;
        width: 100%;
    }

    .collections__title {
        display: flex;
        justify-content: center;
    }
    
    .series .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .collections__cards {
        width: 100%;
    }

    .series__cards {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: minmax(190px, auto) repeat(5, 190px);

    }

    .series__item:nth-child(1) {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    .series__item:nth-child(2) {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: -1;
    }

    .series__item:nth-child(3) {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    .series__item:nth-child(4) {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    .series__item:nth-child(5) {
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    .series__item:nth-child(6) {
        grid-row-start: 6;
        grid-row-end: -1;
        grid-column-start: 1;
        grid-column-end: -1;
    }
}

@media(max-width: 500px) {
    .header__title {
        font-size: 40px;
        line-height: 45px;
    }

    .premier__logo {
        margin-bottom: 25px;
    }

    .premier__desc {
        margin-bottom: 25px;
    }

    .premier {
        margin-bottom: 15px;
        min-height: 450px;
        padding-top: 25px;
    }

    .series__item:nth-child(1) .series__item-title {
        font-size: 27px;
        line-height: 30px;
    }

    .series__desc {
        margin-bottom: 10px;
    }

    .series__item-title {
        margin-bottom: 15px !important;
        text-align: center;
        font-size: 25px !important;
        line-height: 20px !important;
    }

}

@media(max-width: 430px) {
    .header__title {
        font-size: 28px;
        line-height: 35px;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .header__btns {
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }

    .header__desc {
        margin-bottom: 10px;
    }

    .footer__desc {
        font-size: 13px;
        line-height: 15px;
    }
}