@media(max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media(max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .header__banner {
        height: 80vh;
    }
}

@media(max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .menu {
        display: flex;
        cursor: pointer;
    }

    .header__list {
        flex-direction: column;
        position: fixed;
        top: 90px;
        left: -200px;
        width: 200px;
        align-items: center;        
        background: #000;
        transition: 0.5s linear;
        z-index: 999;
    }

    .menu:focus~.header__list {
        left: 0;
    }

    .header__nav {
        position: relative;
        padding: 20px 0;
        z-index: 2;
    }
    
    .header__banner {
        height: 80vh;
        z-index: 1;
    }

    .header__desc {
        text-align: center;
    }

    .header__title {
        font-size: 50px;
        line-height: 55px;
        text-align: center;
    }

    .header__btns {
        justify-content: center;
    }
}

@media(max-width: 576px) {
    .container {
        max-width: 100%;
    }

    .header__banner {
        height: 70vh;
    }
}

@media(max-width: 500px) {
    .header__title {
        font-size: 40px;
        line-height: 45px;
    }
}

@media(max-width: 430px) {
    .header__title {
        font-size: 28px;
        line-height: 35px;
    }

    .header__btns {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
}