@import 'fonts.css';

:root {
    --white: #fff;
    --black: #000;
    --linkHover: #ED8E00;
    --title: #F18128;
    --btnBg: #F18128;
    --btnBgHover: #040D1F;
    --Comfortaa: 'Comfortaa';
    --Montserrat: 'Montserrat';
    --Roboto: 'Roboto';
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: var(--Comfortaa);
    background: #040D1F;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    color: var(--title);
    padding-bottom: 12px;
    display: inline-block;
    position: relative;
}

.title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--title);
    width: 100%;
    height: 2px;
}

.btn {
    max-width: 166px;
    width: 100%;
    padding: 17px 10px;
    border-radius: 4px;
    text-align: center;
    color: var(--black);
    background: var(--btnBg);
    display: block;
    transition: .5s linear;
}

.btn:hover {
    color: var(--white);
    background: var(--btnBgHover);
}

.ads {
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ads__link {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.ads__link span {
    max-width: 166px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
}

.header__nav {
    background: var(--black);
    backdrop-filter: blur(7.5px);
    display: flex;
    justify-content: space-between;
}

.header__nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo span {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: var(--white);
    text-transform: uppercase;
}

.header__list {
    display: flex;
    column-gap: 30px;


}

.header__link {
    position: relative;
    font-family: var(--Montserrat);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
    text-transform: capitalize;
    padding: 42px 6px;
    display: inline-block;
    transition: 500ms;

}

.header__link:hover {
    color: var(--linkHover);
}

.header__link::after {
    content: '';
    background: var(--linkHover);
    width: 0;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transition: 500ms;
    border-radius: 23px 20px 0px 0px;
}

.header__link:hover::after {
    content: '';
    background: var(--linkHover);
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.menu {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    background: transparent;
    border: none;
    display: none;
}

.menu span {
    display: block;
    width: 100%;
    height: 8px;
    background: var(--linkHover);
    border-radius: 3px;
    transition: 0.5s linear;
}

.menu:focus span:nth-child(1) {
    transform: rotate(45deg) translateY(-15px) translateY(25px) translateX(31px) translateX(-22px);
}

.menu:focus span:nth-child(3) {
    transform: rotate(-45deg) translateY(16px) translateY(-25px) translateX(32px) translateX(-23px);
}

.menu:focus span:nth-child(2) {
    transform: rotate(-45deg);
    background: transparent;
}

.header__banner {
    height: 100vh;
    position: relative;
    display: flex;
}

.header__banner-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header__banner-bg {
    background: rgba(7, 15, 25, 0.75);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.header__banner .container {
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header__title {
    font-family: var(--Montserrat);
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: var(--white);
    text-transform: capitalize;
    margin-bottom: 30px;
}

.header__desc {
    font-family: var(--Montserrat);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #C8C8C8;
    max-width: 570px;
    width: 100%;
    margin-bottom: 50px;
}

.header__btns {
    display: flex;
    column-gap: 30px;
}

.films {
    padding-top: 63px;
    padding-bottom: 74px;
}

.films__title {
    margin-bottom: 54px;
}

.films__cards {
    display: grid;
    grid-template-columns: repeat(4, 255px);
    column-gap: 30px;
}

.films__card {
    min-height: 367px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    display: flex;

}

.films__card-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: 500ms linear;
}

.films__card-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    z-index: 1;
}

.films__card-content {
    padding: 54px 14px 18px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.films__card-icon {
    margin-bottom: 12px;
    transition: 500ms linear;
}

.films__card-time {
    font-family: var(--Montserrat);
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    color: var(--white);
    padding: 7px;
    max-width: 100px;
    width: 100%;
    border: 1px solid var(--white);
    border-radius: 9px;
    text-align: center;
    margin-bottom: 30px;
    transition: 500ms linear;
}

.films__card-title {
    font-family: var(--Montserrat);
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: var(--white);
    margin-bottom: 12px;
    text-transform: capitalize;
}

.films__card-desc {
    font-family: var(--Roboto);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    max-width: 226px;
    width: 100%;
}

.films__card:hover .films__card-img {
    transform: scale(1.5);
}

.films__card:hover .films__card-time {
    transform: scale(0);
    opacity: 0;
}

.films__card:hover .films__card-icon {
    transform: scale(1.8) rotateX(180deg);

}

.premier {
    min-height: 500px;
    display: flex;
    position: relative;
    padding-top: 42px;
    padding-bottom: 80px;

}

.premier__video {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.premier__bg {
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.premier .container {
    z-index: 2;

}

.premier__logo {
    margin-bottom: 51px;
}

.premier__desc {
    font-family: var(--Roboto);
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    color: var(--black);
    margin-bottom: 55px;
    max-width: 558px;
    width: 100%;
}

.premier__btn {
    font-family: var(--Roboto);
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    color: var(--black);
}

.collections {
    padding-top: 61px;
    padding-bottom: 63px;
}

.collections__title {
    margin-bottom: 51px;
}

.collections__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;

}

.collections__item {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 193px;
}

.collections__item-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    transition: .5s linear;
}

.collections__item-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
}

.collections__item-line {
    position: absolute;
    top: 7px;
    left: 7px;
    bottom: 7px;
    transition: .5s linear;
}

.collections__item-line:nth-of-type(4) {
    left: unset;
    right: 7px;
}

.collections__item-icon {
    margin-bottom: 15px;
    transition: .5s linear;
}

.collections__item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: var(--white);
    text-transform: capitalize;
    transition: .5s linear;
}

.collections__item:hover .collections__item-icon {
    transform: scale(1.8) rotateX(180deg) translateY(-11px);
}

.collections__item:hover .collections__item-img {
    transform: scale(1.2);
}

.collections__item:hover .collections__item-title {
    transform: scale(0);
    opacity: 0;
}

.collections__item:hover .collections__item-line:nth-of-type(3) {
    transform: translateY(-150%);
    opacity: 0;
}

.collections__item:hover .collections__item-line:nth-of-type(4) {
    transform: translateY(150%);
    opacity: 0;
}

.series {
    padding-bottom: 63px;
}

.series__title {
    margin-bottom: 54px;
}

.series__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    grid-template-rows: repeat(4, 190px);
}

.series__item {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.series__img {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s linear;
}

.series__bg {
    position: absolute;
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
    z-index: -1;
    height: 100%;
    width: 100%;
}

.series__item:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: -1;
    padding: 22px;
}

.series__item:nth-child(2) {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}

.series__item:nth-child(1) .series__item-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: var(--white);
    margin-bottom: 27px;
}

.series__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--white);
    margin-bottom: 30px;
}

.series__icon {
    margin-bottom: 20px;
    transition: .5s linear;
}

.series__item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: var(--white);
    transition: .5s linear;
}

.series__item:hover .series__img {
    transform: scale(1.2);
}

.series__item:hover .series__icon {
    transform: scale(1.8) rotateX(180deg) translateY(-15px);
}

.series__item:hover .series__item-title {
    transform: scale(0);
    opacity: 0;
}

.series__item:nth-child(1):hover .series__item-title {
    transform: scale(1);
    opacity: 1;
}

.footer {
    padding: 25px 0;
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__list {
    display: flex;
    column-gap: 50px;
}

.footer__desc {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: var(--white);
}