@import 'fonts.css';

:root {
    --white: #fff;
    --black: #000;
    --linkHover: #ED8E00;
    --title: #F18128;
    --btnBg: #F18128;
    --btnBgHover: #040D1F;
    --Comfortaa: 'Comfortaa';
    --Montserrat: 'Montserrat';
    --Roboto: 'Roboto';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: var(--Comfortaa);
    background: #040D1F;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    color: var(--title);
    padding-bottom: 12px;
    display: inline-block;
    position: relative;
}

.title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--title);
    width: 100%;
    height: 2px;
}

.btn {
    max-width: 166px;
    width: 100%;
    padding: 17px 10px;
    border-radius: 4px;
    text-align: center;
    color: var(--black);
    background: var(--btnBg);
    display: block;
    transition: .5s linear;
}

.btn:hover {
    color: var(--white);
    background: var(--btnBgHover);
}

.ads {
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ads__link {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.ads__link span {
    max-width: 166px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
}

.header__nav {
    background: var(--black);
    backdrop-filter: blur(7.5px);
    display: flex;
    justify-content: space-between;
}

.header__nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo span {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: var(--white);
    text-transform: uppercase;
}

.header__list {
    display: flex;
    column-gap: 30px;


}

.header__link {
    position: relative;
    font-family: var(--Montserrat);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
    text-transform: capitalize;
    padding: 42px 6px;
    display: inline-block;
    transition: 500ms;

}

.header__link:hover {
    color: var(--linkHover);
}

.header__link::after {
    content: '';
    background: var(--linkHover);
    width: 0;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transition: 500ms;
    border-radius: 23px 20px 0px 0px;
}

.header__link:hover::after {
    content: '';
    background: var(--linkHover);
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.menu {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    background: transparent;
    border: none;
    display: none;
}

.menu span {
    display: block;
    width: 100%;
    height: 8px;
    background: var(--linkHover);
    border-radius: 3px;
    transition: 0.5s linear;
}

.menu:focus span:nth-child(1) {
    transform: rotate(45deg) translateY(-15px) translateY(25px) translateX(31px) translateX(-22px);
}

.menu:focus span:nth-child(3) {
    transform: rotate(-45deg) translateY(16px) translateY(-25px) translateX(32px) translateX(-23px);
}

.menu:focus span:nth-child(2) {
    transform: rotate(-45deg);
    background: transparent;
}

.header__banner {
    height: 100vh;
    position: relative;
    display: flex;
}

.header__banner-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header__banner-bg {
    background: rgba(7, 15, 25, 0.75);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.header__banner .container {
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header__title {
    font-family: var(--Montserrat);
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: var(--white);
    text-transform: capitalize;
    margin-bottom: 30px;
}

.header__desc {
    font-family: var(--Montserrat);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #C8C8C8;
    max-width: 570px;
    width: 100%;
    margin-bottom: 50px;
}

.header__btns {
    display: flex;
    column-gap: 30px;
}

.films {
    padding-top: 63px;
    padding-bottom: 74px;
}

.films__title {
    margin-bottom: 54px;
}

.films__cards {
    display: grid;
    grid-template-columns: repeat(4, 255px);
    column-gap: 30px;
}

.films__card {
    min-height: 367px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    display: flex;

}

.films__card-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: 500ms linear;
}

.films__card-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    z-index: 1;
}

.films__card-content {
    padding: 54px 14px 18px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.films__card-icon {
    margin-bottom: 12px;
    transition: 500ms linear;
}

.films__card-time {
    font-family: var(--Montserrat);
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    color: var(--white);
    padding: 7px;
    max-width: 100px;
    width: 100%;
    border: 1px solid var(--white);
    border-radius: 9px;
    text-align: center;
    margin-bottom: 30px;
    transition: 500ms linear;
}

.films__card-title {
    font-family: var(--Montserrat);
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: var(--white);
    margin-bottom: 12px;
    text-transform: capitalize;
}

.films__card-desc {
    font-family: var(--Roboto);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    max-width: 226px;
    width: 100%;
}

.films__card:hover .films__card-img {
    transform: scale(1.5);
}

.films__card:hover .films__card-time {
    transform: scale(0);
    opacity: 0;
}

.films__card:hover .films__card-icon {
    transform: scale(1.8) rotateX(180deg);

}